<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Barlow+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
</head>


<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>

<div class="page-content">
    <h1>Create Project</h1>

    <form th:action="@{/projects/create/save}" th:object="${project}" method="post">

        <div class="form-group">
            <label for="startDate">Start Date</label>
            <div class="input-wrapper">
                <input type="date" id="startDate" th:field="*{startDate}" />
            </div>
        </div>

        <div class="form-group">
            <label for="projectName">Name</label>
            <div class="input-wrapper">
                <input type="text" id="projectName" th:field="*{projectName}" placeholder="Project name" />
            </div>
        </div>

        <div class="form-group">
            <label for="sumTime">Sum Time</label>
            <div class="input-wrapper">
                <input type="number" id="sumTime" th:field="*{sumTime}" placeholder="Total hours" />
            </div>
        </div>

        <div class="form-group">
            <label for="sumPrice">Sum Price</label>
            <div class="input-wrapper">
                <input type="number" id="sumPrice" th:field="*{sumPrice}" placeholder="Total price" />
            </div>
        </div>

        <div class="form-group">
            <label for="deadLine">Deadline</label>
            <div class="input-wrapper">
                <input type="date" id="deadLine" th:field="*{deadLine}" />
            </div>
        </div>

        <div class="form-group">
            <label for="projectManager">Project Manager</label>
            <div class="input-wrapper">
                <input type="number" id="projectManager" th:field="*{projectManager}" placeholder="Employee ID" />
            </div>
        </div>

            <div th:action="@{/projects/create/save}" th:object="${project}" method="post">
                <button type="submit" class="btn-save">Save</button>
            </div>

    </form>
</div>


</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>